.day {
  width: 30rem;
  padding: 0.8rem;
  color: rgb(46, 14, 161);
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  background-color: white;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    font-size: 0.8rem;

    button {
      border: none;
      background-color: rgb(46, 14, 161);
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      cursor: pointer;

      &:hover {
        background-color: rgb(58, 22, 189);
      }

      i {
        color: white;
        position: relative;
        top: 0.7px;
      }
    }
  }

  main {
    padding: 0.8rem;

    .task {
      display: flex;
      color: black;
      margin-bottom: 1.8rem;

      .time {
        width: 20%;

        .from {
          color: rgb(46, 14, 161);
          font-size: 1.2rem;
          font-weight: bold;
          margin-bottom: 0.4rem;
        }

        .to {
          color: #999;
          font-size: 0.8rem;
          font-weight: bold;
        }
      }

      .description {
        margin-left: 2%;

        .title {
          font-size: 1.2rem;
          margin-bottom: 0.4rem;
        }

        .category {
          color: #999;
          font-size: 0.8rem;
          font-weight: bold;
        }
      }
    }
  }
}
