// ############ Variables

$black: #000000;
$grey-0: #a5a5a5;
$grey-1: #c4c4c4;
$grey-2: #e5e5e5;
$white: #ffffff;
$blue: #353ce5;
$green: #02ca3a;

// ############ Basics

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

// ############ Elems

.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $grey-2;
}

.reviewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding: 7.2rem 2.8rem;
  background-color: $white;
  border-radius: 0.8rem;
  box-shadow: 0.8rem 0.8rem 1.6rem rgba($color: $black, $alpha: 0.2);
}

.indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}

.indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;

  &__tablet {
    width: 1rem;
    height: 1rem;
    border-radius: 1.6rem;

    &--blue {
      background-color: $blue;
    }

    &--grey {
      background-color: $grey-0;
    }

    &--green {
      background-color: $green;
    }
  }

  &__title {
    font-size: 1.4rem;
    color: $grey-0;
  }

  &__number {
    font-size: 1.6rem;
    color: $black;
  }
}

.flashcard {
  height: 20rem;
  width: 20rem;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;

  &__word {
    font-size: 1.6rem;
    color: $white;
  }

  &__translation {
    background-color: $blue;
    border: none;
    border-bottom: solid 1px rgba($color: $grey-0, $alpha: 0.4);
    width: 13.2rem;
    text-align: center;
    font-size: 1.6rem;
    color: $white;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &--blue {
    background-color: $blue;
  }

  &--grey {
    background-color: $grey-0;
  }

  &--green {
    background-color: $green;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.2rem;

  button {
    border: none;
    width: 4rem;
    height: 4rem;
    border-radius: 0.8rem;
    background-color: $grey-2;
    cursor: pointer;

    &:hover {
      background-color: $grey-1;
    }

    &:active {
      background-color: $grey-2;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  i {
    font-size: 2.4rem;
  }
}
